#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#

.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.map
modules.builtin
Module.symvers
Module.markers
*.elf
.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
standby.code
resume1.code
*.img
#
# Top-level generic files
#
/3.4/tags
/3.4/TAGS
/3.4/linux
/3.4/vmlinux
/3.4/vmlinuz
/3.4/System.map
/3.4/Module.markers
/3.4/Module.symvers

#
# Debian directory (make deb-pkg)
#
/3.4/debian/

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
/3.4/include/config
/3.4/include/linux/version.h
/3.4/include/generated
/3.4/arch/*/include/generated

# stgit generated dirs
/3.4/patches-*

# quilt's files
/3.4/patches
/3.4/series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

# lichee ingnore files
skel/
output/
build/
bImage
*.swp
/3.4/rootfs.cpio.gz
/3.4/drivers/arisc/binary/arisc
